.show-ledger{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.show-ledger-main{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    /* border: 2px solid black; */
    width: 90rem;
}
.ledger-horizontal-one{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    background-color: lightgray;
    height: 65px;
    width: 100%;
    position: relative;
}
.ledger-horizontal-one img {
    width: 170px;
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%); 
}
.ledger-horizontal-two{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 20px;
}
.ledger-horizontal-two div{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin: 3px;
}
.ledger-horizontal-two-similar-one{
    width: 17rem;
}
.ledger-horizontal-two-similar-two{
    margin-left: 30px !important;
}

.ledger-horizontal-three{
    display: flex;
    flex-direction: column;
    
}
.ledger-horizontal-three-one,.ledger-horizontal-three-three{
    display: flex;
    align-items: center;
    background-color: lightgray;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.ledger-horizontal-three-one-seven{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
}
.ledger-horizontal-three-one-seven-one{
    display: flex;
    align-self: center;
}
.ledger-horizontal-three-one-seven-two{
    display: flex;
    border-top: solid black 1px;
    width: 100% !important;
    margin-left: -1px;
}
.ledger-horizontal-three-one-seven-two-one{
    align-self: flex-start !important;

}
.ledger-horizontal-three-two{
    display: flex;
    align-items: center;
    height: auto;
    font-size: 18px;
}
.ledger-horizontal-three-one div,.ledger-horizontal-three-two div,.ledger-horizontal-three-three div{
/* margin-left: 20px; */
text-align: center;
width: 10rem;
}
 .ledger-horizontal-three-one-one,.ledger-horizontal-three-two-one{
    width:5rem !important;
}
.ledger-horizontal-three-one-three,.ledger-horizontal-three-two-three,.ledger-horizontal-three-three-three{
    width: 12rem !important;
}

.ledger-horizontal-three-one-four,.ledger-horizontal-three-two-four,.ledger-horizontal-three-three-four{
    width: 10.5rem !important;
}
.ledger-horizontal-three-one-five,.ledger-horizontal-three-two-five,.ledger-horizontal-three-three-five{
    width: 4rem !important;
}
.ledger-horizontal-three-one-six,.ledger-horizontal-three-two-six,.ledger-horizontal-three-three-six{
    width: 10.5rem !important;
}
.ledger-horizontal-three-one-seven,.ledger-horizontal-three-two-seven,.ledger-horizontal-three-three-seven{
    width: 20.5rem !important;
}
.ledger-horizontal-three-one-eight,.ledger-horizontal-three-two-eight,.ledger-horizontal-three-three-eight{
    width: 5rem !important;
}
.ledger-horizontal-three-one-nine,.ledger-horizontal-three-two-nine,.ledger-horizontal-three-three-nine{
    width: 10rem !important;
 }
.ledger-horizontal-three-two-seven input{
    width: 9rem !important;
    background-color: white !important;
    color: black !important;
    /* height: 50px !important; */
    /* margin-top: 5px !important; */
    margin-bottom: 0px !important;
    text-align: center;
}
.ledger-horizontal-three-two-seven{
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-top: none;
}
.ledger-horizontal-three-two-seven-one{
    display: flex;
    width: 100% !important;
    margin-left: -1px;
}
.ledger-horizontal-three-two-seven-two{
   display: flex;
   width: 100% !important;
    margin-left: -1px;
    margin-top: 2px;
}
.ledger-horizontal-three-two-seven-two-btn:hover{
      background-color: #2a282b;
}

.ledger-horizontal-three-two-seven-two-btn{
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: #19171A;
    border: 2px solid black;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
}
.ledger-horizontal-three-two-seven-two-total{
    display: flex;
    text-align: end;
    justify-content:space-around;
    min-width: 57% !important;
}
.ledger-horizontal-three-three-one{
width: 15rem !important;
}
.ledger-horizontal-three-three-two{
    width: 0rem !important;
} 
.ledger-horizontal-three-two{
    display: flex;
}
.ledger-horizontal-three-three{
    display: flex;
}
.ledger-horizontal-four{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: orange;
    font-weight: bold;
    font-style: italic;
}
.ledger-horizontal-five{
    display: flex;
    color: white;
}
.ledger-horizontal-five-one{
    display: flex;
    align-self: center;
    font-size: 20px;
    margin: 10px;
}