* {
    margin-left: 1px;
    margin-right: 1px;
}
body{
  background-color: #19171A !important;
  margin: 0;
  font-family: 'Rambla', sans-serif;
}
.content{
  margin-top: 5rem;
}
.h2{
  margin-top: 10rem !important;
}
@media(max-width:500px){
  .content{
  margin-top: 5rem;
}
}

.intro {
    padding: 50px;
    margin-left: 20%;
    margin-right: 20%;
    
}
.intro h1{
    /* margin-left: 37%; */
    text-align: center;
    color: white;
}

.JUST{
  text-align: justify;
  font-family: 'Rambla', sans-serif;
  font-size: 20px;
  color: white;
}
.INT{
   text-align: center;
   font-family: 'Rambla', sans-serif;
   color: white;
   font-size: 25px;

}

.INT1{
    text-align: center;
   font-family: 'Rambla', sans-serif;
   color: white;
   font-size: 20px;

}

@media(max-width:768PX){
  .intro
  {
    text-align: center;
    padding: 50px; 
    margin-left: 0%;
    margin-right: 0%;

  }
  .intro h1{
    margin-left: 0%;
    color: white;
}
  .JUST{
  text-align: justify;
}
}

.mclassp {
        
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.paragraph-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.paragraph {
    flex: 1;
    color: white;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
    font-family: 'Rambla', sans-serif;
    font-size: 20px;
    
    
    border-radius: 10px;
    text-align: justify;
}
.pstyle{
  font-family: 'Rambla', sans-serif;
    font-size: 20px;
    color: white;

}

@media (max-width: 768px)  {

.paragraph-container {
      flex-direction: column;
      align-items: stretch;
  }

  .paragraph {
      flex: none;
      width: 100%;
      margin: 10px -20px;
  }
}
