
.mclassb {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
  }

  .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
  }

  .box {
    flex: 1;
    max-width: 100px;
    width: 100px;
    cursor: pointer;
   
    height: 60px;
    background-color:#008080; /*#6B6B6B;*/
    border-radius: 10px;
    margin: 0 5px;
    transition: background-color 0.3s;
    display: flex; /* Use flexbox to center text */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
  }

  .box:hover {
    background-color:#6B6B6B; /*#408697;*/
  }
  .texts{
    font-family: 'Rambla', sans-serif;
  font-size: 15px;
  color: white;
  display: flex; /* Use flexbox to center text */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    padding-left: 15px;
  }

  @media (max-width: 768px) {
    .box-container {
      flex-wrap: wrap;

    }

    .box {
      flex: 1 0 100%;
      margin: 5px 0;
      max-width: 97px;
      width: 80%;
      margin: 0 7px;
      margin-top: 6px;

    }
    .mclassb {
      margin-top: 20px;
      
    }



    }
