
.mclassb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.box {
  flex: 1;
  max-width: 100px;
  width: 100px;
  cursor: pointer;
  height: 60px;
  background-color: #008080;
  border-radius: 10px;
  margin: 0 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  background-color: #6B6B6B;
}

.texts {
  font-family: 'Rambla', sans-serif;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
}

@media (max-width: 768px) {
  .box-container {
    flex-wrap: wrap;
  }

  .box {
    flex: 1 0 100%;
    margin: 5px 0;
    max-width: 100px;
    width: 100px;
    margin-left: 7px;
  }
}

