.mainSlideimg {
    display: flex;
    position: relative;
    /* width: 100%;  */
}

.mainSlideimg img {
    width: 100%;
    height: auto;
}

 .mainSlideimg  button{
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
}
.mainSlideimg  button:hover{
    background-color: black;
    color: white;
}

.left-btn {
    position: absolute;
    left: 10px;
    width: 40px;
    height: 50px;
}

.right-btn {
    position: absolute;
    right: 10px;
    width: 40px;
    height: 50px;
} 
