.show-customer-main{
    margin-top: 10rem;
    margin-left: 10%;
    margin-right: 10%;
}
.show-customer-main h3{
    color: white;
    font-size: 22px;
}
.show-customer-info{
    display: flex;
    color: white;
    flex-direction: column;
    /* max-width: 50rem; */
}
.show-customer-box{
    display: flex;
    flex-wrap: wrap;
}

.show-customer-info .box1 div,.show-customer-info .box2 div{
 font-size: 19px;
 margin: 15px;
}
.show-customer-main .c-btn{
display: flex;
justify-content: center;
/* width: 40rem; */
}
.show-customer-main button,.customer-show-btn,.addcustomer-close-btn button{
    background-color: #19171A;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid white;
}
.customer-show-btn{
   text-align: center;
   padding-top: 10px;
   height: 35px;
   width: 150px;
}
.show-customer-main button:hover,.customer-show-btn:hover,.addcustomer-close-btn button:hover{
    background-color: white;
    color: #19171A;
}

.addcustomer-close-btn{
    display: flex;
    flex-direction: column;
}
.addcustomer-close-btn h3{
    margin-left: 2rem;
    margin-top: 3rem;
}